                          <% if(typeof card_title !== 'undefined' && card_title){ %>
                          </div>
                          <% } %>
                            <!-- end col -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
    <footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                 <%- include('copyright.ejs') %>
            </div>
            <!-- <div class="col-sm-6">
            </div> -->
        </div>
    </div>
</footer>
</div>
    <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
     <!-- Start  Theme Settings -->
     <%- include('settings.ejs') %>
     <!-- End Theme Settings -->
    <!-- JAVASCRIPT -->
     <script src="/design/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/design/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/design/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/design/assets/libs/node-waves/waves.min.js"></script>
    <script src="/design/assets/libs/feather-icons/feather.min.js"></script>
    <script src="/design/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="/design/assets/js/plugins.js"></script>
    <!-- prismjs plugin -->
    <script src="/design/assets/libs/prismjs/prism.js"></script>
  
    <% if(typeof pagination_script !== 'undefined' && pagination_script){ %>
         <!-- list.js min js -->
         <script src="/design/assets/libs/list.js/list.min.js"></script>
         <!--list pagination js-->
        <script src="/design/assets/libs/list.pagination.js/list.pagination.min.js"></script>
        <!-- listjs init -->
        <script src="/design/assets/js/pages/listjs.init.js"></script>
        <!-- titcket init js -->
        <script src="/design/assets/js/pages/tasks-list.init.js"></script>
    <% } %>
    <!-- Sweet Alerts js -->
    <script src="/design/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- App js -->
    <script src="/design/assets/js/app.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="/design/assets/js/pages/notifications.init.js"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
   
    <script src="/../js/select2.min.js"></script>
    <script src="/design/assets/js/pagination.js"></script>
    <script src="/design/assets/js/alert/confirm.js"></script>
    <script src="/design/assets/js/spin/spin.min.js"></script>
     <script src="/design/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    <script src="/design/assets/js/custom.js"></script>
    <script src="../js/checkboxes.js"></script>
    <script src="/design/assets/js/alert/notifications.js"></script>
    <!-- quill js -->
    <!-- <script src="/design/assets/libs/quill/quill.min.js"></script> -->
    <!-- init js -->
    <!-- <script src="/design/assets/js/pages/form-editor.init.js"></script> -->
    <script>
        showLoadingSpinner()
        window.onload = () => {
           hideLoadingSpinner()
        }
        function formatState(e){return e.id?$('<span><img src="assets/images/flags/select2/'+e.element.value.toLowerCase()+'.png" class="img-flag rounded" height="18" /> '+e.text+"</span>"):e.text}function formatState(e){var t;return e.id?((t=$('<span><img class="img-flag rounded" height="18" /> <span></span></span>')).find("span").text(e.text),t.find("img").attr("src","assets/images/flags/select2/"+e.element.value.toLowerCase()+".png"),t):e.text}$(document).ready(function(){$(".js-example-basic-single").select2(),$(".js-example-basic-multiple").select2();$(".js-example-data-array").select2({data:[{id:0,text:"enhancement"},{id:1,text:"bug"},{id:2,text:"duplicate"},{id:3,text:"invalid"},{id:4,text:"wontfix"}]})}),$(".js-example-templating").select2({templateResult:formatState}),$(".select-flag-templating").select2({templateSelection:formatState}),$(".js-example-disabled").select2(),$(".js-example-disabled-multi").select2(),$(".js-programmatic-enable").on("click",function(){$(".js-example-disabled").prop("disabled",!1),$(".js-example-disabled-multi").prop("disabled",!1)}),$(".js-programmatic-disable").on("click",function(){$(".js-example-disabled").prop("disabled",!0),$(".js-example-disabled-multi").prop("disabled",!0)});
    </script>
    
  
   