<li class="nav-item" role="presentation">
  <button class="nav-link active" id="steparrow-gen-info-tab" data-bs-toggle="pill" data-bs-target="#steparrow-gen-info" type="button" role="tab" aria-controls="steparrow-gen-info" aria-selected="true">
    Taarifa ya Shule
</button>
</li>
<li class="nav-item" role="presentation">
  <button class="nav-link" id="steparrow-description-info-tab" data-bs-toggle="pill" data-bs-target="#steparrow-description-info" type="button" role="tab" aria-controls="steparrow-description-info" aria-selected="false">
    Taarifa ya Mmmiliki
  </button>
</li>
<li class="nav-item" role="presentation">
  <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false">
    Taarifa ya Meneja
  </button>
</li>