<div id="loading" aria-live="polite" aria-busy="true">
    <div id="loadingcontent">
        <p id="loadingspinner">
            <span class="spinner-border text-primary" role="status" aria-hidden="true"></span>
        </p>
    </div>
</div>
