<% var card_title = '' %> 
<%- include('../../layouts/partials/header.ejs' , {
    title : 'Ombi la Kuthibitisha Mmiliki/Meneja wa Shule',
    page_title : 'Ombi la Kusajili Shule zisizo za Serikali',
    card_title : '',
    breadcrumb_main : 'Maombi',
    top_header : null,
}) %>




<!--end card-body-->
<%- include('../../layouts/partials/footer.ejs' , {
     card_title :  '' , 
     pagination_script : true,
    }) %>
<script type="text/javascript" src="/design/maombi/details/scripts/sajili.js"></script>
</body>
</html>